.container {
    display: flex;
    height: calc(100vh - 64px);
    background-color: #252525; /* Adding a light background */
}

.searchBox {
    height: 100%;
    width: 25%;
    padding: 20px;
    border-right: 1px solid #ddd; /* Adding a border for separation */
    background-color: rgb(39, 39, 39); /* Adding a white background */
}

.innerSearchBox {
    display: flex;
    flex-direction: column;
    justify-content: start; /* Align items to start instead of space-between */
}

.searchElement {
    margin-bottom: 20px; /* Reduced margin for tighter layout */
}

.leftIcon {
    width: 18px;
    height: 18px;
}

.courseContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
    padding: 20px; /* Adding padding for spacing */
}
